.theme__toggle__container{
    display: flex;
    align-items: center;
}
.theme__toggle__container .react-toggle--checked .react-toggle-track{
    background: var(--gradient-1);
}

.theme__toggle__container .react-toggle--focus .react-toggle-thumb{
    box-shadow: 0px 0px 2px 3px var(--color-primary);
}