@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Sora:wght@100..800&display=swap');
:root{
  --color-primary: #7068e5;
  --color-primary-accent:RGB(106, 214, 201);
  --color-white:#ffffff; 
  --color-text:#111111;
  --color-muted: #7d7d82;
  --radius-1:4px;
  --radius-2:0.8rem;
  --radius-3:1.2rem;
  --radius-4:2rem;
  --radius-5:100%;
  --transition:all 400ms ease;
  --gray-border:1px solid #7d7d82;
  --color-background-primary: #FFFFFF;
  --color-background-secondary: #f1f1f1;
  --color-background-variant: #e9e6e6;
  --gradient-1:linear-gradient(to right, var(--color-primary) 0%, var(--color-primary-accent) 100%);
  --gradient-2:linear-gradient(190deg,var(--color-primary) 0%,rgba(115,67,210,0.3) 100%);
  --primary-glow: radial-gradient(rgb(0, 0, 255,0.2) 0%, rgba(255, 255, 255, 1));
  --secondary-glow: linear-gradient(
     to bottom right,
     rgba(1, 65, 255, 0),
     rgba(1, 65, 255, 0),
     rgb(0, 0, 255,0.2)
   );
}

[data-theme="dark"] {
    --color-text:#FFFFFF;
    --gray-border:1px solid rgba(89, 88, 88, 0.633);
    --color-background-primary: #0A0A0C;
    --color-background-secondary: #171719;
    --color-background-variant: #1b1b1e;
    --primary-glow: radial-gradient(rgb(0, 0, 255,0.2) 0%, rgba(0, 0, 0,0.5));
} 

*{
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  text-decoration: none;
  box-sizing: border-box;
  scrollbar-color: var(--color-primary) transparent;
  scrollbar-width: thin;
}

html, body{
  min-height: 100vh;
  font-family: "Sora", sans-serif;
  color: var(--color-text);
  scroll-behavior: smooth;
  overscroll-behavior: contain;
  background: var(--color-background-primary);
}

body{
  overflow: hidden;
  overflow-y: auto;
  max-width: 2000px;
  margin: auto;
}

a{
  text-decoration: none;
  color: var(--color-text);
  display: inline-block;
}


h1,h2,h3,h4,h5,h6 {
  font-weight: 500;
}

p{
  font-size: 15px;
  font-weight: 500;
  line-height: 25px;
}

img{
  width: 100%;
  object-fit: cover;
  min-height: 100%;
  display: block;
}

.container{
  width: 100%;
  max-width: 1100px;
  margin: auto;
  padding: 100px 20px;
}

.container.full__height{
  min-height: 100vh;
}


.text__muted{
  color: var(--color-muted);
}

.color__primary{
  color: var(--color-primary);
}

.text__gradient{
  background: var(--gradient-1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip:text;
}


.stroke__text{
  -webkit-text-stroke: .7px rgba(0,0,255,0.176);
  -webkit-text-fill-color: transparent;
}



.hover__fill{
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.hover__fill::after{
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 0;
  aspect-ratio: 1/1;
  background: var(--gradient-1);
  z-index: -1;
  border-radius: inherit !important;
}
.hover__fill:hover::after{
  width: 100%;
  height: 100%;
  animation: fillBox 500ms linear;
}
.hover__fill:hover{
  color: var(--color-white) !important;
}
@keyframes fillBox {
  0%{
    width: 0%;
    height: 0%;
  }
  100%{
    width: 100%;
    height: 100%;
  }
}


.icon__container{
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--radius-5);
  cursor: pointer;
  transition: var(--transition);
  color: var(--color-text);
  background: var(--color-background-secondary);
}

.icon__container:hover{
  transform: scale(1.2);
}


.btn{
  padding: 15px 25px;
  border-radius: var(--radius-2);
  font-weight: 500;
  font-size: 14px;
  cursor: pointer;
  color: var(--color-text);
  background: var(--color-background-primary);
  transition: var(--transition);
}


.btn__primary {
  background: var(--gradient-1);
  color: var(--color-white);
  transition: var(--transition);
}

.btn__primary:hover{
  background: transparent;
  box-shadow: 0 0 1px 2px var(--color-primary);
  color: var(--color-primary);
}


.title{
  font-size: 55px;
  font-weight: 800;
  margin: 20px 0;
  text-align: center;
}

.sub__title{
  font-size: 25px;
  text-align: center;
  font-weight: 600;
}


.primary__effect{
  position: relative;
}

.primary__effect::before{
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 50%;
  transition: var(--transition);
  background: linear-gradient(to bottom,transparent 0%, var(--color-primary) 75%);
}

.blur-effect{
  position: relative;
}

.blur-effect::before{
  content: "";
  position: absolute;
  width: 322px;
  height: 308px;
  background: var(--gradient-2);
  border-radius: 50%;
  -webkit-filter: blur(150px);
  filter: blur(150px);
  z-index: 0;
}


.swiper-pagination-clickable .swiper-pagination-bullet{
  background: var(--color-primary);
}

/* Responsive code */
@media (min-width:1500px){
  .container.full__height{
    min-height: auto;
  }
}
@media (max-width:900px){
  .title{
    font-size: 30px;
  }
  .sub__title{
    font-size: 20px;
  }
  .container{
    padding: 40px 20px;
  }
  .btn{
    font-size: 12px;
  }
}